
h1#main_title {
	text-align: center;
	margin-bottom: 2em;
}

body {
	font-family: verdana;
	font-size: 10pt;
	background: #fff;
}

.comment_list {
	margin-top: 1em;
	border-top: black 1px dotted;
	width: 50%;
}

#post_list td:first-child {
	width: 150px;
}

#post_list td:nth-child(2) {
	width: 200px;
	font-weight: bold;
}

#post_list td:nth-child(3) {
	width: 400px;
}

